<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loginpage.css') }}">
</head>
<body>
    <main>
        <section>
            <h2>Đăng nhập tài khoản</h2>
              {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                <ul class="flash-messages">
                  {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
            <form action="{{ url_for('login')}}" method="POST">
                <label for= "username">Tên đăng nhập: </label>
                <input type="text" id="username" name="username" required><br><br>
    
                <label for="password">Nhập mật khẩu:</label>
                <input type="password" id="password" name="password" required><br><br>
                <a href="../html/homepage.html"><button type="submit" >Đăng nhập</button></a>
                
            </form>
            <p>Chưa đăng kí? <a href="{{ url_for('register')}}">Đăng kí</a></p>
        </section>
    </main>
</body>
</html>